<div class=" mx-20 my-5 mb-5">
    <button 
    (click)="goBackToList()" 
    class="mt-4 px-6 py-2 bg-yellow-500 text-black rounded shadow-lg hover:bg-yellow-600 hover:shadow-xl transition-all duration-300">
    Go Back to World Cups List
    </button>
</div>
<div class="max-w-4xl mx-auto px-4 py-8">
    
    <h1 class="text-3xl font-bold test-yellow-400 text-center mb-8">World Cup <span  class="text-yellow-400"> {{this.year }}</span> Knockout Stages</h1>
  
    <!-- Loop through stages -->
    <div *ngFor="let stage of stages" class="text-center mb-10">
      <h2 class="text-xl font-semibold mb-4">{{ stage.name }}</h2>
      
      <!-- Matches for the stage -->
      <div
        [class.grid]="stage.matches.length > 2"
        [class.grid-cols-2]="stage.matches.length > 2"
        [class.flex]="stage.matches.length <= 2"
        [class.justify-center]="stage.matches.length <= 2"
        [class.space-x-4]="stage.matches.length <= 2"
        class="gap-8"
      >
        <div *ngFor="let match of stage.matches">
          <app-wc-match-item 
            [match]="match"
          ></app-wc-match-item>
        </div>
      </div>
    </div>
   
  </div>
  