@tailwind base;
@tailwind components;
@tailwind utilities;
.bg_ucl {
  position: fixed;
    z-index: -1;
    right: -50vw;
    bottom: -10vw;
    width: 2080px;
    pointer-events: none;
}

.bg_ucl_2 {
  position: fixed;
  z-index: -1;
  left: -35vw;
  bottom: -30vw;
  width: 1080px;
  pointer-events: none;
}