<div class="flex items-center justify-between m-10 ">
    <!-- First Column: Text Content -->
    <div class="bg-gray-800 container rounded-[30px] p-4 mb-5 flex-auto">
        <div class="bg-[#1f2022] h-64 p-4 rounded-[30px]">
            <h1 class="text-4xl font-bold mb-4">
                FIFA, <span class="text-yellow-400">World Cup</span><br>Competition
            </h1>
            <p class="text-sm mt-10 text-gray-300">
                The World Cup is the pinnacle of international football, bringing together the best teams from across
                the globe to compete for ultimate glory. Known for its electrifying matches and legendary moments, the
                competition represents the dreams of players and fans alike, uniting the football world with its rich
                heritage and unparalleled prestige.
            </p>
        </div>
    </div>

    <!-- Second Column: Image -->
    <div class="flex-auto w-2/5 ">
        <img src="assets/images/fifawc.png" alt="World Cup Logo" class="opacity-85 w-auto h-auto">
    </div>
</div>


<div class="flex items-center justify-center mt-10">
    <!-- Yellow line with dots -->
    <div class="relative flex items-center">
        <div class="absolute left-0 w-2 h-2 rounded-full bg-yellow-500"></div> <!-- Left dot -->
        <div class="w-64 border-t-2 border-yellow-500"></div> <!-- Thin yellow line -->
        <div class="absolute right-0 w-2 h-2 rounded-full bg-yellow-500"></div> <!-- Right dot -->
    </div>
</div>

<div>
    <app-carousel></app-carousel>
</div>
<div class="flex items-center justify-center mt-10">
    <!-- Container for two lines -->
    <div class="flex items-center w-full">
        <!-- Left line with dot -->
        <div class="flex-1 flex items-center justify-end">
            <div class="w-1/2 border-t-2 border-yellow-500"></div>
            <div class="w-2 h-2 rounded-full bg-yellow-500 ml-2"></div>
        </div>

        <!-- Empty space in the center -->
        <div class="w-10 mx-20"></div>

        <!-- Right line with dot -->
        <div class="flex-1 flex items-center justify-start">
            <div class="w-2 h-2 rounded-full bg-yellow-500 mr-2"></div>
            <div class="w-1/2 border-t-2 border-yellow-500"></div>
        </div>
    </div>
</div>



<div class="container mx-auto">
    <!-- Center the text and make the font bolder -->
    <h3 class="mt-20 mb-5 text-center text-3xl font-semibold text-white">
        <span class="text-yellow-400">All-time</span> Stats & Records
      </h3>
      
    <div class="grid grid-cols-4 mt-20 h-32 gap-4">
        <div *ngFor="let question of qs">
            <app-wc-stat [question]="question"></app-wc-stat>
        </div>
    </div>
</div>

<div class="flex items-center justify-center mt-10">
    <!-- Yellow line with dots -->
    <div class="relative flex items-center">
        <div class="absolute left-0 w-2 h-2 rounded-full bg-yellow-500"></div> <!-- Left dot -->
        <div class="w-64 border-t-2 border-yellow-500"></div> <!-- Thin yellow line -->
        <div class="absolute right-0 w-2 h-2 rounded-full bg-yellow-500"></div> <!-- Right dot -->
    </div>
</div>


<div class="container mx-auto my-20  flex-col">

    <div *ngIf="!(selectedYear$ | async) else selected">

    <!-- World Cup List Section -->
    <div class="flex flex-row justify-center items-center ">
        <h1 class="text-3xl text-yellow-400 font-bold flex-none">World Cups from 1930 to the present</h1>
        <div class="ml-10 p-4 ">
            <div class="relative">
                <!-- Custom styled select box -->
                <select class="p-3 border border-gray-700 font-bold text-black rounded-lg appearance-none"
                    [formControl]="sortControl">
                    <option value="" disabled selected hidden class="text-gray-500">Sort by</option>
                    <option value="oldest" class="text-black">Oldest</option>
                    <option value="newest" class="text-black">Newest</option>
                    <option value="mostGoals" class="text-black">Most Goals</option>
                    <option value="mostAttendance" class="text-black">Most Attendance</option>
                </select>

                <!-- Add an optional custom "arrow" icon to enhance the dropdown UI -->
                <div class="absolute right-3 top-1/2 transform -translate-y-1/2 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>

        </div>
        <div class="search-bar font-bold text-black ml-10 flex-none rounded-lg p-4 ">
            <form class="flex items-center">
                <input type="text"
                    class="form-control  p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-500 text-sm"
                    [formControl]="filterControl" placeholder="🔍 Search by year or winner..." />
            </form>
        </div>



    </div>

    <app-wc-list  [worldCups]="(filteredAndSortedWcs$ | async) || []"></app-wc-list>

</div>


<ng-template #selected>
    <app-wc-matches *ngIf="selectedYear$ | async"></app-wc-matches>
</ng-template>



</div>   
