<div class="home-container">
  <div class="content-container">
    <!-- Left Section (Introduction and Football Fact) -->
    <div class="left-section">
      <div class="introduction-section">
        <app-introduction></app-introduction>
      </div>
      <div class="football-fact-section">
        <app-football-fact></app-football-fact>
      </div>
    </div>

    <!-- Right Section (Combined Quiz and Leaderboard) -->
    <div class="right-section">
      <div class="quiz-leaderboard-section">
        <app-quiz></app-quiz>
        <app-leaderboard></app-leaderboard>
      </div>
    </div>
  </div>
</div>