:root {
    --background-color: #1b1c1d;
    --nav-color: #1f2022;
    --text-color: #ffffff;
    --primary-color: #ebfd69; /* Slightly brighter blue */
    --secondary-color: #adb5bd;
    --accent-color: #3f4141;
    --card-background: #1e1e1e;
  }