/* Define Color Palette */
:root {
  --background-color: #c9c9c9;
  --nav-color: #bebebe;
  --text-color: #000000;
  --primary-color: #ebfd69; /* Slightly brighter blue */
  --secondary-color: #adb5bd;
  --accent-color: #3f4141;
  --card-background: #1e1e1e;
  }
  
  
